.contact-section {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 423px;
    height: 480px;
    align-items: center;
    order: -1;
    padding: 48px 56px;
    border-radius: 32px;
    background-color: var(--main-dark-color);
    background-image: url(../image/background-modal.png);

    @media screen and (min-width: $bp-tablet) {
      order: 0;
    }
  }

  &__form-field {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: var(--color-footer-light);
  }

  &__button {
    display: block;
    margin: 0 auto 8px;
  }

  &__map {
    flex-shrink: 0;
    margin: 0 -24px;
    height: 230px;
    order: 0;

    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 320px;
      height: 400px;
      border-radius: 32px;
      order: 0;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 480px;
    }
  }
}
