.backdrop {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(1, 31, 74, 0.4);
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  padding: 20px 20px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 470px;
  background-color: var(--main-dark-color);
  background-image: url(../image/background-modal.png);
  border-radius: 48px;

  @media screen and (min-width: $bp-tablet) {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 550px;
    padding: 45px 142px;
  }

  @media screen and (min-width: $bp-desktop) {
    width: 100%;
    max-width: 720px;
    height: 100%;
    max-height: 680px;
    padding: 45px 142px;
  }
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;

  &__icon {
    fill: var(--color-footer-light);
    background-color: transparent;
  }
}
