.why__container {
  padding: 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 0 190px;
  }
}

.why__title {
  margin-bottom: 24px;
  font-family: 'Play', sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: var(--main-dark-color);

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 64px;
  }
}

.why__title--accent {
  color: var(--main-blue-color);
}

.why__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  justify-content: center;
  flex-basis: calc(100% - 56px / 3);

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
    gap: 56px;
  }
}

.why__item {
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  width: 316px;
  height: 181px;
  background-color: var(--color-footer-light);
  flex-shrink: 0;
  padding: 24px 32px;
}

.why__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #000;
}

.why__icon {
  width: 44px;
  height: 44px;
  fill: var(--main-blue-color);
}
