.why-section {
  &__container {
    padding: 0;

    @media screen and (min-width: $bp-tablet) {
      padding: 0;
    }

    @media screen and (min-width: $bp-desktop) {
      padding: 0 190px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% - 56px / 3);

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 10px;
    }

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      gap: 56px;
    }
  }

  &__item {
    border-radius: 32px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    width: 316px;
    height: 181px;
    background-color: var(--color-footer-light);
    flex-shrink: 0;
    padding: 24px 32px;

    @media screen and (min-width: $bp-tablet) {
      width: 200px;
      height: 150px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 316px;
      height: 181px;
    }
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #000;

    @media screen and (min-width: $bp-tablet) {
      font-size: 12px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33;
    }
  }

  &__icon {
    width: 44px;
    height: 44px;
    fill: var(--main-blue-color);

    @media screen and (min-width: $bp-tablet) {
      width: 33px;
      height: 33px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 44px;
      height: 44px;
    }
  }
}
