.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: var(--color-footer-light);
  transform: translateX(100%);
  transition: transform 0.3s;

  &.is-open {
    transform: translateX(0);
  }

  &__logo {
    position: fixed;
    top: 16px;
    left: 20px;
  }

  &__nav {
    padding: 78px 212px 16px 20px;
  }

  &__menu {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  &__icon {
    fill: var(--main-dark-color);
  }

  &__contacts {
    display: flex;
    gap: 16px;
    padding: 0 212px 16px 20px;
  }
}

.modal-btn-close.mobile-menu__btn-close {
  position: absolute;
  top: 16px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--main-dark-color);
  cursor: pointer;
  line-height: 1;

  @media screen and (min-width: $bp-tablet) {
  }

  @media screen and (min-width: $bp-desktop) {
    top: 40px;
    right: 40px;
  }

  &:hover {
    color: var(--color-star-1);
  }
}
