.sticker-section {
  &__star-one {
    fill: var(--color-star-1);
    animation: tiny-pulse-mobile 3s ease-in-out infinite;
    transform-origin: center center;

    @media screen and (min-width: $bp-desktop) {
      animation: tiny-pulse-desktop-1 3s ease-in-out infinite;
    }
  }

  @keyframes tiny-pulse-mobile {
    0%,
    100% {
      transform: translate(100px, 120px) scale(1);
    }
    50% {
      transform: translate(100px, 120px) scale(1.1);
    }
  }

  @keyframes tiny-pulse-desktop-1 {
    0%,
    100% {
      transform: translate(100px, -250px) scale(1);
    }
    50% {
      transform: translate(100px, -250px) scale(1.1);
    }
  }

  &__star-two {
    fill: var(--main-blue-color);
    display: none;
    transform-origin: center center;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      animation: tiny-pulse-desktop-2 3s ease-in-out infinite;
    }
  }
  @keyframes tiny-pulse-desktop-2 {
    0%,
    100% {
      transform: translate(450px, -600px) scale(1);
    }
    50% {
      transform: translate(450px, -600px) scale(1.1);
    }
  }

  &__star-three {
    fill: var(--secondary-light-color);
    display: none;
    transform-origin: center center;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      animation: tiny-pulse-desktop-3 3s ease-in-out infinite;
    }
  }
  @keyframes tiny-pulse-desktop-3 {
    0%,
    100% {
      transform: translate(450px, -400px) scale(1);
    }
    50% {
      transform: translate(450px, -400px) scale(1.1);
    }
  }
}
